# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/
.venv/

# Environment / secrets
.env
*.env

# VSCode
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/



# Ignore ML model files
*.pkl
modules/insurance/models/
models/
